
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    /* font-family from google fonts */
    color: black;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;

}

a {
 text-decoration: none;
 color: white;   
}

.midcontainer {
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/*navbar start*/

#header {
    position: relative;
}

.navbar {
    width: 90%;
    height: 50px;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}

.navliste ul li {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 0;

}

.logo {
    width: 150px;
    height: 95px;
    margin-top: 20px;
}

.navbar ul li {
    list-style: none;
    margin: 0 20px ;
    display: inline-block; 
    position: relative;  
    margin-top: 45px;
}

.navbar ul li a {
text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    width: 0%;
    background: turquoise;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
}

.navbar ul li:hover::after {
    width: 100%;
    transition: 0.8s;

}

/*navbar slutt*/

/* Midpart start*/
#FrontPage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),
    rgba(0, 0, 0, 0.5)) , url(./img1/Barcode.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 1;
    
}

#midpart::after {
    content: '';
    right: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    opacity: .1;
}

#midpart h1 {
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: hoved_tekst 1s ease forwards;
    animation-delay: 1.5s;
}

#midpart h1 :nth-child(1){
    animation-delay: 1s;
}

#midpart h1 :nth-child(2){
    animation-delay: 2.2s;
}
 

#midpart h1 span {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0px;
    background-color: turquoise;
    animation: hoved_tekst_box 1s ease;
    animation-delay: 1s;
    
}

#midpart h1:nth-child(1) span{
    animation-delay: 1s;
}
#midpart h1:nth-child(2) span{
    animation-delay: 1.5s;
}


#midpart .Visit {
display: inline-block;
padding: 12px 25px;
color: turquoise;
background-color: transparent;
border: 3px solid turquoise;
border-radius: 25px;
font-size: 15px;
text-transform: uppercase;
letter-spacing: 1px;
margin-top: 20px;
transition: .5s ease;
transition-property: background-color, color;
}

#midpart .Visit:hover {
    color: white;
    background-color: turquoise;
}


/* hovedside tekst animasjon */

@keyframes hoved_tekst_box {
    50%{
        left: 0; 
        width: 100%;  
    }
    100%{
        left: 100%;
        width: 0;
    }
}

@keyframes hoved_tekst {
    100%{
        color: white;
}
}

/* Slutt av hovedside tekst animasjon */
/*Midpart ending */

/*Places to visit start */
.HeaderTekst {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 50px;
}

#VisitPlaces {
    max-width: 100%;
    margin:0 auto;
    background-color: whitesmoke;
    justify-content: center;
    display: flex;

}

#VisitPlaces .EtSted1 {
    display: flex;
    width: 90%;

}

#VisitPlaces .EtSted2 {
    display: flex;
    width: 90%;
}

#VisitPlaces .EtSted3 {
    display: flex;
    width: 90%;;
}

#VisitPlaces .AlleSteder {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;    
}

#VisitPlaces .Stedsinfo1 {
    padding: 27px;
    height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: turquoise;
    background-image: linear-gradient(rgba(255, 255, 255, 0.87),
    rgba(241, 240, 240, 0.733));
}

#VisitPlaces .Stedsinfo2 {
    padding: 27px;
    height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: turquoise;
    background-image: linear-gradient(rgba(255, 255, 255, 0.87),
    rgba(241, 240, 240, 0.733));
}

#VisitPlaces .Stedsinfo3 {
    padding: 27px;
    height: 500px;
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: turquoise;
    background-image: linear-gradient(rgba(255, 255, 255, 0.87),
    rgba(241, 240, 240, 0.733));
}

#VisitPlaces .VisitHeader {
font-family: 'Lato', sans-serif;
text-align: center;
flex-direction: column;
justify-content: center;
} 

.Stedsinfo1 {
font-weight: 200;

}
.Stedsinfo2 {
font-weight: 200;
    
    }

.Stedsinfo3 {
font-weight: 200;
}

.StedsBilde1 {
    border-bottom: 25px;
    height: 500px;
    width: 40%;
}

.StedsBilde2 {
    border-bottom: 25px;
    height: 500px;
    width: 40%;

}
.StedsBilde3 {
    height: 500px;
    border-bottom: 25px;
    width: 40%;
}



/*Places to visit slutt */


/* FOR MOBIL */
@media only screen and (max-width:800px) {
    body{
        margin: 0;
        padding: 0;
    }

    /*navbar start*/

    .navbar {
        margin-right: 0;
        width: 100%;
    }

    .navbar ul {
        margin-top: 20px;
    }

    .logo {
        margin-left: 25px;
        margin-top: 15px;
    }


     /*navbar slutt*/

    /*Visit places*/ 

    .HeaderTekst {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 40px;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    #VisitPlaces .AlleSteder {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;    
    }

    #VisitPlaces {
        display: flex;
        padding-top: 0;
        flex-direction: column;
        background-color: rgba(206, 204, 204, 0.733);
    }

    #VisitPlaces .EtSted1 {
        display: flex;
        justify-content: center;
        width: 80%;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 5px 10px 15px 10px rgb(126, 125, 125);
        margin-bottom: 75px;
    }


    #VisitPlaces .EtSted2 {
        display: flex;
        justify-content: center;
        width: 80%;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 5px 10px 15px 10px rgb(126, 125, 125);
        margin-bottom: 75px;
    }

    #VisitPlaces .EtSted3 {
        display: flex;
        justify-content: center;
        width: 80%;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 5px 10px 15px 10px rgb(126, 125, 125);
        margin-bottom: 75px;
    }

    #VisitPlaces .Stedsinfo1 {
        width: 90%;
        justify-content: center;
        height: 100%;
        flex-basis: 50%;
        align-items: flex-start;
        flex-direction: column;

    }

    #VisitPlaces .Stedsinfo2 {
        width: 90%;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        flex-basis: 50%;
        align-items: flex-start; 
    }

    #VisitPlaces .Stedsinfo3 {
        width: 90%;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        flex-basis: 50%;
        align-items: flex-start;
    }

    .StedsBilde1 {
        overflow: hidden;
        height: auto;
        width: 100%;
        position: relative;
        padding-bottom: 75px;
        padding: 0 27px;
    }
    
    .StedsBilde2 {
        overflow: hidden;
        height: auto;
        width: 100%;
        position: relative;
        padding-bottom: 75px;
        padding: 0 27px;
        object-fit: cover;
    }
    .StedsBilde3 {
        overflow: hidden;
        height: auto;
        width: 100%;
        position: relative;
        padding-bottom: 75px;
        padding: 0 27px;
        object-fit: cover;

    }

    /*Visit places slutt*/

}
    

/*FOR PC*/
@media only screen and (min-width:800px) {
    body{
        margin: 0;
        padding: 0;
    }

    /* header start */
    .logo {
        margin-left: 40px;
        margin-top: 30px;
    }

    /* header sliutt */

    .HeaderTekst {
        margin-top: 50px;
    }
    
    /* Visit places start*/

    .EtSted1 {
        width: 120%;
        margin-right: 50px;
        margin-bottom: 130px;
        margin-top: 30px;
        margin-left: 20px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 85px 4px;
        }

   .EtSted1 .Stedsinfo1 {
        height: 500px;
        width: 120%;
        padding: 27px;
        padding-left: 40px;
        padding-right: 15px;
        margin-left: 0px;
        height: 500px auto;
        display: flex;
    }

    .StedsBilde1 img {
        height: 554px;
        width: 145%;
        margin-right: 20px;

    }

    .EtSted2 {
        width: 120%;
        margin-right: 50px;
        margin-bottom: 130px;
        margin-top: 30px;
        margin-left: 20px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 85px 4px;
    
    
    }

   .EtSted2 .Stedsinfo2{
        height: 500px;
        padding: 27px;
        padding-right: 15px;
        height: 500px auto;
        width: 40%;
        display: flex;
    }

    .StedsBilde2 img {
        height: 554px;
        width: 145%;
        margin-right: 20px;

    }

    .EtSted3 {
        margin-right: 50px;
        margin-bottom: 130px;
        margin-top: 30px;
        margin-left: 20px;
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 85px 4px;
    
    }

   .EtSted3 .Stedsinfo3 {
        height: 500px;
        padding: 27px;
        padding-right: 15px;
        height: 500px auto;
        width: 40%;
        display: flex;
    }

    .StedsBilde3 img {
        height: 554px;
        width: 145%;
        margin-right: 20px;

    }
    /*Visit places slutt*/

   

}


