body{
    margin: 0;
}

@media only screen and (min-width:500px) and (max-width:800px) {
    .navbar {
        display: flex;
        margin: auto;
        background-color: #FFD500;
        align-items: stretch;
        /* justify-content: space-between; */
        flex-direction: column;
        width: 100vw;
        text-align: center;
    }

    .navbar>a {
        color: #000;
        text-decoration: none;
        padding: 2%;
        border: 1px solid;
    }

    .reflect-tekst p{
        max-width: 70ch;
        margin-left: 2%;
    }

    /* .navbar>div{
        border: 1px solid;
        
    } */


.item1{background: white;
    height: 600px;
}
.item2{background:white;}






.container{
    display: grid;
    font-size: 15px;
    width: 100%;
    background: LightGray;
    min-height: 500px;
}
}
