@media only screen and (min-width:500px) and (max-width:800px) {

    #navbar {
        width: 100%;
        margin: auto;
        padding: 50px 100px 100px 100px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    
    #navbar > ul > li {
        list-style: none;
        margin: 30px 30px; 
        background: turquoise;
        
    }
    
    #navbar > ul > li > a {
        text-decoration: none;
        text-transform: uppercase;
        color: black;
    }
    
    #navbar > ul > li::after {
        content: '';
        height: 2px;
        width: 100%;
        background: turquoise;
        position: absolute;
        left: 0px;
        bottom: -10px;
        transition: 0.5s;
    }
    
    #navbar > ul > li:hover::after {
        width: 100%;
    }





}


