
* {
    border:0px;
    padding: 0px;
    box-sizing: border-box;

}

html {
    font-size: 25px;
    /* font-family */
    color: aliceblue;

}

a {
 text-decoration: none;
 color: aliceblue;   
}

.midcontainer {
    min-height: 95vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#midpart {
    background-image: url(./img1/Barcode.jpeg);
    background-position: top center;
    background-size: cover;
    position: relative;
}

#midpart::after {
    content: '';
    left: 0px;
    right: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: grey ;
    opacity: .7;
    z-index: -1;
}

#midpart h1 {
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    color: white;
}

#midpart.visit {
    display: inline-block;
    padding: 15px 30px;
    color: turquoise;
    background-color: transparent;
    border: 4px solid turquoise;
    font-size: 3rem;
}