body {
    margin: 0;
    overflow-x: hidden;
}


/*
    HERIFRA OG NED ER DET BARE FOR LAPTOP

*/

.navbar {
    display: flex;
    margin: auto;
    background-color: #FFD500;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
    width: 100vw;
    height: 3vh;
    text-align: center;
    z-index: 3s;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.navbar>a {
    color: #000;
    text-decoration: none;
    font-size: 2.5vw;
    /* padding: 2%; */
}

.reflect_header {
    margin: 0 10px 10px;
    padding: 15px 10px 0;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: x-large;
    text-decoration: underline;
    grid-area: header;
}

.reflect-tekst p {
    max-width: 70ch;
}

.reflect-tekst {
    background: rgb(255, 213, 0);
    background: linear-gradient(180deg, rgba(255, 213, 0, 1) 60%, rgba(245, 245, 245, 1) 100%);
    color: black;
    border-radius: 5px;
    margin: 0 2%;
    padding: 1% 0;
    padding-left: 2%;
    grid-area: content;
    margin: 0 30px;
}

#reflect-tekst_2 {
    grid-area: content2;
}

.div_reflect {
    background-image: url(/img1/Oslomet\ .jpeg);
    height: 100%;
    display: grid;
    grid-template-areas: 
    "header header"
    "content content2"
    "content content2"
    "footer footer"
    ;
}

#reflect_footer {
    padding: 0;
    margin: 25px 10px 0;
    border-radius: 5px;
    grid-area: footer;
}




#h2{
    font-size:25px;
    color:black;
}

#h3{
    font-size:20px;
    color:black;
}

#h4{
    font-size:20px;
    color:black;
}

#h5{
    font-size:20px;
    color:black;
    margin-bottom: 0%;
}


.teksten{
display: block;
flex-direction: row;
justify-content:space-between;
background: rgb(255, 213, 0);
background: linear-gradient(180deg, rgba(255, 213, 0, 1) 60%, rgba(245, 245, 245, 1) 100%);
font-size: 15px;
margin: 0%;
padding: 1% 0;
padding-left: 2%;
}


.teksten>p {
    max-width: 70ch;
}

#link {
   font-size: 18px;
   margin-top:5%;
}


#overskrift {
    font-size: 25px;
    text-align:center;
}

header {
    background-color: #FFD500;
}


ul {
    list-style: none;
}



h1,
h2 {
    margin: 0;
    padding: 1%;
}

#innhold {
    display: flex;
    flex-direction: row;
    background: rgb(255, 213, 0);
    background: linear-gradient(180deg, rgba(255, 213, 0, 1) 50%, rgba(245, 245, 245, 1) 100%);
    height: 50vh;
    justify-content: space-between;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#box1 {
    flex: 1;
}

#box2 {
    flex: 1;
}

#box3 {
    flex: 1;
}

footer {
    padding-top: 20px;
    background-color: whitesmoke;
}

footer>ul {
    margin: 0;
    padding: 2%;
}

p {
    margin: 0;
    padding: 1%;
}

.ImHERE {
    font-size: larger;
    font-weight: bold;
}


/* all css under her er bare for forsiden */

#header1 {
    background-image: url(/img1/p35.jpeg);
    background-size: cover;
    color: black;
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
    background-position-y: center;
    height: 50vh;
}

@media only screen and (max-width:800px) {
    .navbar {
        display: flex;
        font-size: 1vh;
        margin: auto;
        background-color: #FFD500;
        align-items: stretch;
        /* justify-content: space-between; */
        flex-direction: column;
        width: 100vw;
        text-align: center;
        height: initial;
        padding: 0;
    }
    #reflect_nav {
        padding: 0;
    }
    img {
        width: 40%;
        border-radius: 60px;
    }
    .navbar>a {
        color: #000;
        text-decoration: none;
        padding: 2%;
        border: 1px solid;
    }
    .reflect_header {
        margin: 0 10px 10px;
        padding: 15px 10px 0;
        border-radius: 5px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        font-size: x-large;
        text-decoration: underline;
        grid-area: header;
    }
    .reflect-tekst p {
        max-width: 70ch;
    }
    .reflect-tekst {
        background: rgb(255, 213, 0);
        background: linear-gradient(180deg, rgba(255, 213, 0, 1) 60%, rgba(245, 245, 245, 1) 100%);
        color: black;
        border-radius: 5px;
        margin: 0 2%;
        padding: 1% 0;
        padding-left: 2%;
        grid-area: content;
    }
    #reflect-tekst_2 {
        margin-top: 2%;
        grid-area: content2;
    }
    .div_reflect {
        background-image: url(/img1/Oslomet\ .jpeg);
        height: 100%;
        display: grid;
        grid-template-areas: 
        "header"
        "content"
        "content"
        "content2"
        "content2"
        "footer"
        ;
    }
    #reflect_footer {
        padding: 0;
        margin: 25px 10px 0;
        border-radius: 5px;
        grid-area: footer;
    }
    
  
    .teksten>h2 {
        color:black;
        font-size:20px;
    }

    .teksten>h3{
        color:black;
        font-size:20px;
    }
    
    .teksten>h4{
        color:black;
        font-size:20px;
    }


    .teksten{
        background: rgb(255, 213, 0);
        background: linear-gradient(180deg, rgba(255, 213, 0, 1) 60%, rgba(245, 245, 245, 1) 100%);
        font-size: 15px;
        margin: 0%;
        padding: 1% 0;
        padding-left: 2%;
        flex-direction: column;
    }
   
    .teksten>p {
        max-width: 70ch;
    }
    #link {
        max-width: 70ch;
    }

  
    #overskrift {
        font-size: 25px;
    }
 
    ul {
        list-style: none;
    }
    header {
        background-color: #FFD500;
    }
    #innhold {
        background: rgb(255, 213, 0);
        background: linear-gradient(180deg, rgba(255, 213, 0, 1) 60%, rgba(245, 245, 245, 1) 100%);
        flex-direction: column;
    }
    h1,
    h2 {
        margin: 0;
        padding: 1%;
    }
    footer {
        padding-top: 20px;
        background-color: whitesmoke;
    }
    footer>ul {
        margin: 0;
        padding: 2%;
    }
    p {
        margin: 0;
        padding: 1%;
    }
    .ImHERE {
        font-size: larger;
        font-weight: bold;
    }
    /* all css under her er bare for forsiden */
    #header1 {
        background-image: url(/img1/p35.jpeg);
        background-size: cover;
        color: black;
        text-align: center;
        text-decoration: underline;
        font-size: x-large;
        background-position-y: center;
        height: 200px;
    }
