


html {
    /* font-family from google fonts */
    color: black;
    font-family: 'Lato', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;

}

a {
 text-decoration: none;
 color: white;   
}

.midcontainer {
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

/*navbar start*/
#header {
    position: relative;
}


.navbar {
    width: 90%;
    height: 50px;
    margin: auto;
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: 95px;
    /*fiks farge*/
}

.navbar ul li {
    list-style: none;
    margin: 0 20px ;
    display: inline-block; 
    position: relative;  
}

.navbar ul li a {
text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    width: 0%;
    background: turquoise;
    height: 2px;
    position: absolute;
    bottom: -7px;
    left: 0;
}

.navbar ul li:hover::after {
    width: 100%;
    transition: 0.8s;

}
/*navbar slutt*/

/* Midpart start*/
#FrontPage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),
    rgba(0, 0, 0, 0.5)) , url(./img1/Barcode.jpeg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    z-index: 1;
    
}

#midpart::after {
    content: '';
    right: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    opacity: .1;
}

#midpart h1 {
    display: block;
    width: fit-content;
    font-size: 3rem;
    position: relative;
    color: transparent;
    animation: hoved_tekst 1s ease forwards;
    animation-delay: 1.5s;
}

#midpart h1 :nth-child(1){
    animation-delay: 1s;
}

#midpart h1 :nth-child(2){
    animation-delay: 2.2s;
}
 

#midpart h1 span {
    position: absolute;
    height: 100%;
    width: 0%;
    top: 0;
    left: 0px;
    background-color: turquoise;
    animation: hoved_tekst_box 1s ease;
    animation-delay: 1s;
    
}

#midpart h1:nth-child(1) span{
    animation-delay: 1s;
}
#midpart h1:nth-child(2) span{
    animation-delay: 1.5s;
}


#midpart .Visit {
display: inline-block;
padding: 12px 25px;
color: turquoise;
background-color: transparent;
border: 3px solid turquoise;
border-radius: 25px;
font-size: 15px;
text-transform: uppercase;
letter-spacing: 1px;
margin-top: 20px;
transition: .5s ease;
transition-property: background-color, color;
}

#midpart .Visit:hover {
    color: white;
    background-color: turquoise;
}


/* hovedside tekst animasjon */

@keyframes hoved_tekst_box {
    50%{
        left: 0; 
        width: 100%;  
    }
    100%{
        left: 100%;
        width: 0;
    }
}

@keyframes hoved_tekst {
    100%{
        color: white;
}
}

/* Slutt av hovedside tekst animasjon */
/*Midpart ending */

/*Places to visit start */
#VisitPlaces .VisitHeader {
font-family: 'Lato', sans-serif;
font-size: 30px;
text-align: center;

} 

.EtSted {

}

/*Places to visit slutt */